.coin {
  aspect-ratio: 1;
  width: 40vmin;
  font: bold 20vmin serif;
  color: sienna;
  border: 2vmin sienna outset;
  border-radius: 50%;
  background: gold;
}

@keyframes flip {
  0% {
    color: gold;
    transform: scaleX(1);
  }
  50% {
    color: gold;
    transform: scaleX(0);
  }
  100% {
    color: sienna;
    transform: scaleX(1);
  }
}
